.ProgressBar {
  height: 80px;
  overflow: auto;
}

.ProgressBar__bar {
  margin-top: 55px;
  height: 10px;
  background: lightgray;
}

.ProgressBar__active-bar {
  height: 10px;
  width: 0;
  background: blue;
  transition: width 0.25s ease-in;
}
